.submit {
    position: relative;
    background-color: white;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    justify-self: center;
    margin: 3px;
  }

.clothing-card {
    border: pink 2px;
    text-align: center;
    background-color: #FCF3CF;
  }

#title {
    text-align: center;
    background-color: #F4D03F;
  }

#search-bar-container {
    text-align: center;
    background-color: #F4D03F;
  }