.submit {
    position: relative;
    background-color: white;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    justify-self: center;
    margin: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.clothing-card {
    text-align: center;
    background-color: #FCF3CF;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }

#title {
    text-align: center;
    background-color: #F4D03F;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 50px;
  }

#search-bar-container {
    text-align: center;
    background-color: #F4D03F;
  }

#cart {
    text-align: center;
    background-color: #F4D03F;
  }

.image{
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
  }

  .addBtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFCB3D;
  }

html {
    background-color: #FCF3CF;
}

.cart-card {
    background-color: #FFBB33;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: auto;
    width: 150px;
    float: right;
    font-size: x-small;
    padding-right: 5px;
  }

  #container {
    text-align: center;
    display:inline-block;
    margin: 0 auto;
  }

#clear-search {
        background-color: white;
        border-radius: 5px;
        height: 2rem;
        width: max-content;
        justify-self: center;
        margin: 3px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}